BasedOnStyle: Google
ColumnLimit: 120
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
IndentCaseLabels: true
TabWidth: 4
UseTab: ForIndentation
PointerAlignment: Left
IndentWidth: 4
BreakBeforeTernaryOperators: false
SpaceAfterCStyleCast: true