# IDE Specific
.vs/
*.launch
.editorconfig

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Python
__pycache__/
*.pyc

# Doxygen
src/html/*
src/xml/*
src/latex/*
html/*
xml/*
latex/*

# Documentation
doc/user/_validation/demos/sphere_decay/*.pdf
doc/user/_validation/demos/sphere_decay/*.png
doc/user/_validation/demos/sphere_decay/*.hires.png
doc/user/_verification/demos/sphere_decay/*.pdf
doc/user/_verification/demos/sphere_decay/*.png
doc/user/_verification/demos/sphere_decay/*.hires.png
_build/

# General
build/
demos/F3OF/f3of/
sandbox/
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest.log

# Test results (ignore all results/ directories)
results/
**/results/
*.log
build-config.json
/tests/regression/run_hydrochrono/f3of/decay_dt1/outputs
/tests/regression/run_hydrochrono/f3of/decay_dt2/outputs
/tests/regression/run_hydrochrono/f3of/decay_dt3/outputs
/tests/regression/run_hydrochrono/iea_sphere/decay/outputs
/tests/regression/run_hydrochrono/oswec/decay/outputs
/tests/regression/run_hydrochrono/rm3/decay/outputs
